/* 背景鋪滿頁面 */
body {
  margin: 0;
  height: 100vh;
  background: url("images/background.png") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.tray {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  /* 真正置中 */
  width: 900px;
  height: auto;
  z-index: 1;
}
.text {
  position: fixed;
  top: calc(70% + 100px);  /* 托盤中心點往下再移一段距離 */
  left: 50%;
  transform: translateX(-50%);
  width: 700px;
  height: auto;
  z-index: 10;
}
.logo {
  position: fixed;
  top: 10%;
  left: 30%;
  width: 900px;
  height: auto;
  z-index: 1;
}
/* 新登場 */
.logo1 { 
  position: fixed; /* 固定在螢幕 */ 
  top: 35px; /* 離上方 15px */ 
  right: 220px; /* 離右方 15px */ 
  width: 900px; /* 固定大小 */ 
  height: auto; /* 保持比例 */ 
  z-index: 2; /* 保證疊在背景上 */ 
}
.logo2 {
  position: fixed;
  top: 15%;
  left: 15%;
  transform: translate(310px, 100px); /* 相對托盤中心偏移 */
  width: 700px;
  height: auto;
  z-index: 10;
}
/* 鬆餅 */
.logo3 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-450px , 225px);
  width: 500px;   /* 大小可調 */
  height: auto;
  z-index: 999;
}
/* 奶昔 */
.logo4 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-250px , 50px); /* 左上 */
  width: 15px;
  height: auto;
  z-index: 999;
}
  

